

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: marketplace-app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
    depends_on:
      - postgres
      - redis

  nginx:
    image: nginx:alpine
    container_name: marketplace-nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    # environment:
    #   NGINX_PORT: 80
    #   FASTCGI_HOST: app
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  postgres:
    image: postgres:16-alpine
    container_name: marketplace-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:alpine
    container_name: marketplace-redis
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  postgres_data: